/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes unfold {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
body {
  background: #000;
  font-family: "Noto Serif JP", serif;
  font-size: 1.3rem;
  color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

button, .play-button-div {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  position: relative;
}

.text-smaller {
  font-size: 0.7em;
}

.ltsp {
  letter-spacing: 1px;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.margin-text {
  margin: 15px;
}

.bottom {
  bottom: 0;
}

.bottom200 {
  bottom: 200px;
}

.top {
  top: 0;
}

.top50 {
  top: 50%;
}

.left {
  left: 0;
}

.left50 {
  left: 50%;
}

.w-100 {
  width: 100%;
}

.right50 {
  right: 50%;
}

.translate-fix-xy {
  transform: translate(-50%, -50%);
}

.translate-fix-x {
  transform: translateX(-50%);
  transform: translate(-50%, 0);
}

.translate-fix-y {
  transform: translateY(-50%);
  transform: translate(0, -50%);
}

.middle {
  margin: auto;
}

.d-block {
  display: block !important;
}

.d-flex, .flex-row-clustered, .flex-row {
  display: flex !important;
}

.center-content, .flex-row {
  justify-content: center;
  align-items: center;
  place-items: center center;
}

.wrap, .flex-row-clustered, .flex-row {
  flex-wrap: wrap;
}

.d-grid {
  display: grid !important;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline-grid {
  display: inline-grid;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none !important;
}

.no-spacing {
  letter-spacing: -5px;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 750px) {
  .grid-3-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-4-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-1 {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 70px 0;
}
@media screen and (max-width: 1065px) {
  .grid-5-1 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 875px) {
  .grid-5-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 655px) {
  .grid-5-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

section {
  width: 100%;
}

nav {
  display: block;
  width: 100%;
  background-image: url("/demon-slayer-framework-test/assets/imgs/menu_bg_repeat.jpg");
}
nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  z-index: 6;
}
nav .nav-list .nav-li {
  float: left;
  padding: 16px 16px;
  margin: 0 5px;
}
nav .nav-list .nav-li .nav-a {
  padding: 4px;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  color: #f8cfcb;
  transition: all 0.12s;
}
nav .nav-list .nav-li .nav-a:hover {
  color: white;
  text-shadow: 0 0 1rem #fa402f, 0 0 0.2em #fa402f, -1px 0 3px #ff1c08, 1px 0 3px #ff1c08, 0 -1px 3px #ff1c08, 0 1px 3px #ff1c08;
}
nav .nav-list .nav-li .nav-a .nav-img-container {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: -2px;
}
nav .nav-list .nav-li .nav-a .nav-img-container .nav-img {
  display: block;
  width: 35.75px;
  height: 35.75px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
nav .nav-list .nav-li .nav-a .nav-img-container .active-img {
  opacity: 0;
  transition: all 0.12s;
}
nav .nav-list .nav-li .nav-a .nav-img-container .not-active-img {
  opacity: 0.5;
}
nav .nav-list .nav-li .nav-a .nav-img-container:hover .active-img {
  opacity: 0.8;
}
nav .nav-list .nav-li .nav-a .nav-img-container:hover .not-active-img {
  opacity: 0;
  filter: opacity(0);
}
nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 106px;
  width: 100%;
  background: url("/demon-slayer-framework-test/assets/imgs/menu_decor_l.png") no-repeat left, url("/assets/imgs/menu_decor_r.png") no-repeat right;
}
@media screen and (max-width: 1355px) {
  nav::before {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  nav {
    display: none;
  }
}

.nav-sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

.main-poster {
  margin-top: 110px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo-tab {
  position: absolute;
  top: 1250px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.logo-tab .logo {
  display: inline-block;
  max-width: 600px;
  animation: fade-in 1.4s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
@media screen and (max-width: 1750px) {
  .logo-tab {
    top: 1100px;
  }
  .logo-tab .logo {
    max-width: 550px;
  }
}
@media screen and (max-width: 1600px) {
  .logo-tab {
    top: 1000px;
  }
  .logo-tab .logo {
    max-width: 500px;
  }
}
@media screen and (max-width: 1400px) {
  .logo-tab {
    top: 900px;
  }
  .logo-tab .logo {
    max-width: 400px;
  }
}
@media screen and (max-width: 1280px) {
  .logo-tab {
    top: 800px;
  }
  .logo-tab .logo {
    max-width: 350px;
  }
}
@media screen and (max-width: 1090px) {
  .logo-tab {
    top: 700px;
  }
  .logo-tab .logo {
    max-width: 300px;
  }
}
@media screen and (max-width: 980px) {
  .logo-tab {
    top: 600px;
  }
  .logo-tab .logo {
    max-width: 300px;
  }
}
@media screen and (max-width: 868px) {
  .logo-tab {
    top: 500px;
  }
  .logo-tab .logo {
    max-width: 300px;
  }
}
@media screen and (max-width: 756px) {
  .logo-tab {
    top: 430px;
  }
  .logo-tab .logo {
    max-width: 260px;
  }
}
@media screen and (max-width: 650px) {
  .logo-tab {
    top: 370px;
  }
  .logo-tab .logo {
    max-width: 220px;
  }
}
@media screen and (max-width: 575px) {
  .logo-tab {
    top: 330px;
  }
  .logo-tab .logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 475px) {
  .logo-tab {
    top: 290px;
  }
  .logo-tab .logo {
    display: none;
  }
}

.misc-text {
  font-size: 42px;
  animation: fade-in 1.4s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.misc-text p {
  margin: 30px;
  word-spacing: 0.4rem;
  letter-spacing: 2.5px;
  line-height: 71px;
  text-shadow: -2px -2px 12px black, 2px 2px 12px black;
}
.misc-text p::first-letter {
  font-size: 48px;
}
@media screen and (max-width: 1400px) {
  .misc-text {
    display: none !important;
  }
}

.text-change {
  color: attr(data-text-color);
  color: #cc0000;
  text-shadow: -1px -1px 18px darkblue, 1px 1px 18px darkblue;
}
.streaming-container {
  width: 100%;
  max-width: 800px !important;
  background-image: url("/demon-slayer-framework-test/assets/imgs/streaming.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  top: 90%;
}

.kv {
  width: 100%;
  position: relative;
}
.kv .kv-img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  animation: fade-in 1.4s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.news-section {
  vertical-align: top !important;
}
.news-section .h2-pic {
  text-align: center;
}
.news-section .h2-pic .h2-picture {
  width: 100%;
  max-width: 300px;
}
.news-section h2 {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 60px;
}
.news-section h2 .h2-picture {
  max-width: 100%;
}
.news-section ul {
  margin: 15px auto;
}
.news-section ul li {
  position: relative;
  padding: 25px 30px;
  border-top: 1px solid #444;
  vertical-align: middle;
}
.news-section ul li .news-date {
  color: #c30017;
  margin-bottom: 4px;
  font-size: 14px;
}
.news-section ul li .news-title {
  display: block;
  padding-top: 5px;
}
.news-section ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.news-section ul li .news-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  width: 19px;
  transform: translateY(-50%);
}
.news-section ul li * {
  padding: 11px 0;
  letter-spacing: 1px;
  font-size: 15px;
}
.news-section ul li:last-child {
  border-bottom: 1px solid #444;
}
.news-section ul li:first-child {
  border-bottom: 0;
}
.news-section::before {
  content: "";
  display: block;
  height: 230px;
}
.news-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_down.png");
  z-index: 2;
  height: 300px;
}

.introduction {
  padding-top: 360px;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_repeat_blue.jpg");
  min-height: 100vh;
  padding-bottom: 300px;
}
.introduction .h2-pic {
  text-align: center;
}
.introduction .h2-pic .h2-picture {
  width: 100%;
  max-width: 400px;
}
.introduction .text-area {
  max-width: 800px;
  width: 100%;
  margin: 60px auto;
  text-align: center;
}
.introduction .text-area * {
  padding: 0 25px;
  cursor: default;
  user-select: none;
}
.introduction .text-area h2 {
  font-size: 55px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 2em;
  margin: 35px 0;
  white-space: pre;
}
.introduction .text-area p {
  white-space: pre;
  font-weight: 300;
  font-size: 19px;
  line-height: 2.3em;
}
.introduction .text-area .reddish {
  color: #c30017;
}
@media screen and (max-width: 1000px) {
  .introduction .text-area h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 830px) {
  .introduction .text-area h2 {
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 666px) {
  .introduction .text-area p {
    white-space: normal;
  }
}
@media screen and (max-width: 550px) {
  .introduction .text-area h2 {
    font-size: 33px;
    white-space: normal;
    text-align: center;
  }
}
@media screen and (max-width: 392px) {
  .introduction .text-area h2 {
    font-size: 27px;
  }
}
.introduction::after {
  content: "";
  display: block;
  position: absolute;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_top.png") bottom;
  width: 100%;
  height: 300px;
  z-index: 2;
}

.cast-section .h2-pic {
  text-align: center;
}
.cast-section .h2-pic .h2-picture {
  width: 100%;
  max-width: 400px;
}
.cast-section::after {
  content: "";
  display: block;
  position: absolute;
  background: red;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_down.png") bottom;
  width: 100%;
  height: 300px;
  z-index: 2;
}
.cast-section .h2-picture {
  max-width: 350px !important;
}
.cast-section .cast-container {
  margin-top: 50px;
  max-width: 1600px;
  text-align: center;
}
.cast-section .cast-container .cast-div {
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-bottom: 35px;
}
.cast-section .cast-container .cast-div .title {
  font-size: 14px;
  color: #c30017;
  margin-bottom: 5px;
}
.cast-section .cast-container .description-img {
  color: #000;
  height: 64px;
  font-size: 16px;
  line-height: 64px;
  background-image: url("/demon-slayer-framework-test/assets/imgs/cast.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 15px auto 35px;
}
@media screen and (max-width: 1100px) {
  .cast-section .cast-container .flex-row {
    display: block !important;
  }
  .cast-section .cast-container .flex-row .cast-div {
    padding: 0 10px;
  }
}
@media screen and (max-width: 650px) {
  .cast-section .cast-container .flex-row {
    display: block !important;
  }
  .cast-section .cast-container .flex-row .cast-div {
    padding: 0 10px;
  }
  .cast-section .cast-container .flex-row .cast-div .title {
    font-size: 13px;
  }
  .cast-section .cast-container .flex-row .cast-div .va {
    font-size: 15px;
  }
}
.cast-section .jp-eng {
  font-size: 15px;
}

.trailer-section {
  background: url("/demon-slayer-framework-test/assets/imgs/bg_repeat_red.jpg");
  min-height: 500px;
  overflow: hidden;
  padding: 270px 0 110px;
}
.trailer-section .h2-pic {
  text-align: center;
}
.trailer-section .h2-pic .h2-picture {
  width: 100%;
  max-width: 400px;
}
.trailer-section .h2-pic {
  padding: 60px 0;
}
.trailer-section .h2-pic .h2-picture {
  width: 300px !important;
}
.trailer-section .videos-div {
  max-width: 1060px;
  width: 100%;
  height: 400px;
  margin: auto;
  position: relative;
}
.trailer-section .videos-div .videos-list {
  height: auto;
  width: max-content;
  transition: all 0.5s cubic-bezier(0.43, 0.75, 0.56, 1.17);
  transform: translateX(0);
}
.trailer-section .videos-div .videos-list .video-div {
  position: relative;
  margin-right: 50px;
  display: inline-block;
  height: 400px;
  user-select: none;
}
.trailer-section .videos-div .videos-list .video-div .video-poster {
  display: block;
  position: relative;
  object-fit: cover;
  width: 490px;
  height: 290px;
  filter: brightness(0.6);
}
.trailer-section .videos-div .videos-list .video-div .video-poster:hover {
  filter: brightness(1);
}
.trailer-section .videos-div .videos-list .video-div .video-title {
  margin-top: 15px;
  font-size: 15px;
  width: 490px;
  position: absolute;
  height: 60px;
}
.trailer-section .videos-div .videos-list .play-button-div {
  position: relative;
  width: 490px;
  height: 290px;
  filter: brightness(0.8);
}
.trailer-section .videos-div .videos-list .play-button-div:hover {
  background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
  filter: brightness(1);
}
.trailer-section .videos-div .videos-list .play-button-div .play-button {
  position: absolute;
  width: 80px;
  height: 80px;
}
.trailer-section .videos-div .play-button-div:hover .video-poster {
  filter: brightness(1);
}
.trailer-section .videos-div .btn {
  position: absolute;
  background: transparent;
  color: white;
  z-index: 3;
  padding: 9px;
}
.trailer-section .videos-div .btn-left {
  left: calc(50% - 60px);
}
.trailer-section .videos-div .btn-right {
  left: calc(50% + 60px);
}

.main-footer {
  background: #000;
  padding: 40px 0 50px;
}
.main-footer .footer-ul {
  text-align: center;
}
.main-footer .footer-ul .footer-li {
  display: inline-block;
}
.main-footer .footer-ul .footer-li a {
  display: inline-block;
  background: #777;
  border-radius: 50%;
  padding: 7px;
  margin: 0 15px;
  transition: all 0.3s;
}
.main-footer .footer-ul .footer-li a .footer-svg {
  width: 27px;
}
.main-footer .footer-ul .footer-li a:hover {
  background: #bbb;
}
.main-footer h2 {
  text-align: center;
  font-size: 14px;
  color: #888;
  margin: 22px 0;
}
.main-footer .other-sites a {
  display: inline-block;
  margin: 15px 15px;
  color: #ddd;
  text-decoration: none;
  transition: all 0.4s;
}
.main-footer .other-sites a:hover {
  color: #5e5e5e;
}
.main-footer .other {
  font-size: 12px;
}
.main-footer .reconstructed-by a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 12px;
}
.main-footer .reconstructed-by a:hover {
  color: white;
  text-decoration: underline;
}

.characters-section {
  background: #000;
}
.characters-section .h2-pic {
  text-align: center;
}
.characters-section .h2-pic .h2-picture {
  width: 100%;
  max-width: 300px;
}
.characters-section .characters-logo-container {
  background: url("/demon-slayer-framework-test/assets/imgs/bg_repeat_red.jpg");
  margin: 0 0 50px;
  position: relative;
}
.characters-section .characters-logo-container .h2-pic {
  padding: 70px 0 370px;
}
.characters-section .characters-logo-container .h2-pic::after {
  content: "";
  position: absolute;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_top.png") center top;
  width: 100%;
  bottom: 0;
  height: 300px;
  display: block;
}
.characters-section .characters-container {
  max-width: 1200px !important;
  margin-top: -200px;
}
.characters-section .characters-container .characters-grid {
  margin-bottom: 50px;
  box-sizing: border-box;
}
.characters-section .characters-container .characters-grid .char-div {
  box-sizing: border-box;
  display: block;
  min-width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.characters-section .characters-container .characters-grid .char-div .char-img {
  background: no-repeat center top;
  background-image: url("/demon-slayer-framework-test/assets/imgs/thumb_01.png");
  background-size: 100%;
  height: 200px;
}
.characters-section .characters-container .characters-grid .char-div .demon {
  background-image: url("/demon-slayer-framework-test/assets/imgs/thumb_02.png");
}
.characters-section .characters-container .characters-grid .char-div .img-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: no-repeat center bottom;
  background-image: url("/demon-slayer-framework-test/assets/imgs/thumb_01.png");
  background-size: 100%;
  opacity: 0;
  transition: all 0.13s;
}
.characters-section .characters-container .characters-grid .char-div .img-hover:hover {
  opacity: 1;
}
.characters-section .characters-container .characters-grid .char-div .demon-active {
  background-image: url("/demon-slayer-framework-test/assets/imgs/thumb_02.png");
}
.characters-section .characters-container .characters-grid .char-div .char-info {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
.characters-section .characters-container .characters-grid .char-div .char-info .char-name {
  color: #D4B086;
}
.characters-section .characters-container .characters-grid .char-div .char-info .char-va {
  font-size: 13px;
}

#streaming.streaming-sector {
  padding-top: 250px;
  min-height: 800px;
  position: relative;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_repeat_blue.jpg");
  padding-bottom: 180px;
}
#streaming.streaming-sector::before {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  top: 0px;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_down.png") repeat-x bottom;
  position: absolute;
  left: 0;
}
#streaming.streaming-sector::after {
  content: "";
  display: block;
  position: absolute;
  background: red;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_top.png") top;
  width: 100%;
  height: 180px;
  z-index: 2;
}
#streaming.streaming-sector .h2-pic {
  text-align: center;
}
#streaming.streaming-sector .h2-pic .h2-picture {
  width: 100%;
  max-width: 300px;
}
#streaming.streaming-sector .description-img {
  height: 64px;
  font-size: 16px;
  line-height: 64px;
  background-image: url("/demon-slayer-framework-test/assets/imgs/cast.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  color: #000;
  margin: 50px auto 40px;
}
#streaming.streaming-sector .on-air {
  margin-bottom: 110px;
}
#streaming.streaming-sector .on-air p {
  display: inline-block;
}
#streaming.streaming-sector .on-air .stream-div ul {
  text-align: center;
}
#streaming.streaming-sector .on-air .stream-div ul .header {
  background: rgba(255, 255, 255, 0.1);
}
#streaming.streaming-sector .on-air .stream-div ul li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#streaming.streaming-sector .on-air .stream-div ul li p {
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  #streaming.streaming-sector .on-air .stream-div ul li p {
    font-size: 15px;
  }
}

.comic-section {
  position: relative;
  background: black;
  color: white;
}
.comic-section .h2-pic {
  text-align: center;
}
.comic-section .h2-pic .h2-picture {
  width: 100%;
  max-width: 350px;
}
.comic-section .manga-container {
  margin: 70px auto 120px;
}
.comic-section .manga-container .manga-grid {
  grid-gap: 100px 0;
  grid-auto-rows: 370px;
}
.comic-section .manga-container .manga-grid li {
  height: 100%;
}
.comic-section .manga-container .manga-grid li a {
  text-align: center;
  text-decoration: none;
}
.comic-section .manga-container .manga-grid li a .manga-img {
  height: 100%;
  padding-top: 100%;
  width: 100%;
  background: url("/demon-slayer-framework-test/assets/imgs/manga.png") center no-repeat;
  background-size: cover;
}
.comic-section .manga-container .manga-grid li a .manga-title .ltsp {
  font-size: 16px;
  margin: 6px 0;
  font-family: serif;
  color: white;
}
@media screen and (max-width: 500px) {
  .comic-section .manga-container .manga-grid li a .manga-title .ltsp {
    font-size: 14px;
  }
}

.episodes-section {
  background: url("/demon-slayer-framework-test/assets/imgs/bg_repeat_red.jpg");
  padding-top: 170px;
  min-height: 1400px;
  position: relative;
  overflow: hidden;
}
.episodes-section .h2-pic {
  text-align: center;
}
.episodes-section .h2-pic .h2-picture {
  width: 100%;
  max-width: 350px;
}
.episodes-section::before {
  content: "";
  display: block;
  width: 100%;
  height: 300px;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_top.png") repeat-x bottom;
  position: absolute;
  left: 0;
  z-index: 0;
}
.episodes-section::before {
  height: 100px;
  background-position: bottom;
  background-image: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_down.png");
  top: 0;
}
.episodes-section .episodes-list {
  margin: 50px auto 30px;
}
.episodes-section .episodes-list .episodes-ls {
  margin: 30px;
}
.episodes-section .episodes-list ul {
  text-align: center;
}
.episodes-section .episodes-list ul li {
  display: inline-block;
  margin: 5px;
}
.episodes-section .episodes-list ul li .selected {
  color: #ffef99;
}
.episodes-section .episodes-list ul li a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 17px;
}
.episodes-section .episodes-list ul li a:hover {
  color: #b3b3b3;
}
@media screen and (max-width: 700px) {
  .episodes-section .episodes-list ul li a {
    font-size: 15px;
    margin: 7px;
  }
}
.episodes-section .episode-sc-container {
  margin-top: 130px;
  min-width: 100%;
  min-height: 630px;
  background: black;
  position: relative;
}
@media screen and (max-width: 650px) {
  .episodes-section .episode-sc-container {
    height: 300px;
    min-height: auto;
  }
}
.episodes-section .episode-sc-container .episode-sc-main {
  min-height: 610px;
  max-width: 960px;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 650px) {
  .episodes-section .episode-sc-container .episode-sc-main {
    min-height: 350px;
  }
}
.episodes-section .episode-sc-container .episode-sc-main .episodes-bar {
  height: 100%;
  width: max-content;
  max-height: max-content;
  transform: translateX(0);
  transition: transform 1s;
}
@media screen and (max-width: 650px) {
  .episodes-section .episode-sc-container .episode-sc-main .episodes-bar {
    height: 300px;
  }
}
.episodes-section .episode-sc-container .episode-sc-main .episodes-bar .episode-div {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.episodes-section .episode-sc-container .episode-sc-main .episodes-bar .episode-div .episode-img {
  filter: contrast(0.9) brightness(0.3);
}
@media screen and (max-width: 650px) {
  .episodes-section .episode-sc-container .episode-sc-main .episodes-bar .episode-div .episode-img {
    height: 300px;
  }
}
.episodes-section .episode-sc-container .episode-sc-main .episodes-bar .episode-div .main-slide {
  filter: blur(0);
}
.episodes-section .episode-sc-container .episode-sc-main .control-panel {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 100%;
  max-height: 30px;
  height: 100%;
  max-width: 130px;
  justify-content: space-around;
}
.episodes-section .episode-sc-container .episode-sc-main .control-panel .change-control {
  background: rgba(180, 180, 180, 0.6);
  display: inline-block;
  width: 100%;
  max-width: 18px;
  height: 100%;
  max-height: 18px;
  transform: rotateZ(45deg);
  cursor: pointer;
}
.episodes-section .episode-sc-container .episode-sc-main .control-panel .change-control:hover {
  background: rgba(255, 255, 255, 0.6);
}
.episodes-section .episode-sc-container .episode-sc-main .control-panel .active-sc {
  background: maroon;
}
.episodes-section .episode-sc-container .episode-sc-main .control-panel .active-sc:hover {
  background: #ff3333;
}
.episodes-section .episode-sc-container::after {
  content: "";
  display: block;
  position: absolute;
  background: red;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_top.png") top;
  width: 100%;
  height: 180px;
  z-index: 2;
}
.episodes-section .episode-sc-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  top: 0px;
  background: url("/demon-slayer-framework-test/assets/imgs/bg_black_repeat_down.png") repeat-x bottom;
  position: absolute;
  left: 0;
}
.episodes-section .episode-sc-container::after {
  height: 100px;
  top: -100px;
}
.episodes-section .episode-sc-container::before {
  top: 100%;
  height: 100px;
}
.episodes-section .episode-description-main {
  padding: 130px 0 120px;
  text-align: center;
}
.episodes-section .episode-description-main .description-img {
  text-align: center;
  color: #000;
  height: 64px;
  font-size: 16px;
  line-height: 64px;
  background-image: url("/demon-slayer-framework-test/assets/imgs/cast.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 15px auto 15px;
}
.episodes-section .episode-description-main .episode-title {
  font-size: 26px;
}
.episodes-section .episode-description-main .episode-description {
  text-align: left;
  max-width: 790px;
  line-height: 1.8em;
  margin: 29px auto;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .episodes-section .episode-description-main .episode-description {
    text-align: center;
  }
}

.mobile-nav-section {
  display: none;
}
@media screen and (max-width: 800px) {
  .mobile-nav-section {
    display: block;
    position: sticky;
    top: 0;
    z-index: 50;
    user-select: none;
  }
  .mobile-nav-section * {
    user-select: none;
  }
  .mobile-nav-section .mobile-open {
    text-align: center;
    position: relative;
    background: url("/demon-slayer-framework-test/assets/imgs/menu_bg_repeat.jpg");
  }
  .mobile-nav-section .mobile-open .mobile-icon {
    display: inline-block;
    position: relative;
    margin: auto;
    height: 60px;
    width: 60px;
    margin: 15px auto;
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-icon-inside {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 25px;
    width: 25px;
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-icon-inside .line {
    width: 25px;
    border-top: 4px solid #f8cfcb;
    z-index: 6;
    position: absolute;
    transition: all 0.8s;
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-icon-inside .line-top {
    top: 0;
    transform: translate(0, 0);
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-icon-inside .line-middle {
    top: 50%;
    transform: translate(0, -50%);
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-icon-inside .line-bottom {
    bottom: 0;
    transform: translate(0, 0);
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-started .line-top {
    top: 0;
    transform: translate(0, 10.5px) rotateZ(45deg);
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-started .line-middle {
    top: 50%;
    transform: translate(0, -50%) rotateY(90deg);
  }
  .mobile-nav-section .mobile-open .mobile-icon .mobile-started .line-bottom {
    bottom: 0;
    transform: translate(0, -10.5px) rotateZ(-45deg);
  }
  .mobile-nav-section .mobile-open .mobile-icon .img-mobile-icon {
    width: 60px;
  }
  .mobile-nav-section .wrapped-menu {
    background: url("/demon-slayer-framework-test/assets/imgs/menu_bg_repeat.jpg");
    height: 100vh;
    animation: unfold 1s forwards;
  }
  .mobile-nav-section .wrapped-menu .mobile-menu-grid {
    width: 95%;
    height: 100%;
    margin: auto;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 90px;
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) and (max-width: 500px) {
  .mobile-nav-section .wrapped-menu .mobile-menu-grid {
    font-size: 20px;
    grid-template-columns: 150px 150px;
  }
}
@media screen and (max-width: 800px) {
  .mobile-nav-section .wrapped-menu .mobile-menu-grid li {
    display: block;
    height: 100%;
    width: 200px;
    position: relative;
    animation: fade-in 0.3s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  .mobile-nav-section .wrapped-menu .mobile-menu-grid li a {
    position: absolute;
    color: inherit;
    text-decoration: none;
  }
  .mobile-nav-section .wrapped-menu .mobile-menu-grid li .mobile-a-icon {
    position: absolute;
    width: 29%;
    top: calc(50% + 3px);
  }
}
@media screen and (max-width: 800px) and (max-width: 500px) {
  .mobile-nav-section .wrapped-menu .mobile-menu-grid li .mobile-a-icon {
    width: 22%;
  }
}

/*# sourceMappingURL=mainStyle.css.map */
