/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
body {
  background: #000;
  font-family: "Noto Serif JP", serif;
  font-size: 1.3rem;
  color: white;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  border: 1px solid blue;
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.bottom {
  bottom: 200px;
}

.top {
  top: 0;
}

.top-middle {
  top: 50%;
}

.left {
  left: 0;
}

.left50 {
  left: 50%;
}

.w-100 {
  width: 100%;
}

.right50 {
  right: 50%;
}

.right50 .translate-fix-xy {
  transform: translate(-50%, -50%);
}

.translate-fix-x {
  transform: translateX(-50%);
  transform: translate(-50%, 0);
}

.translate-fix-y {
  transform: translateY(-50%);
  transform: translate(0, -50%);
}

.middle {
  margin: auto;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline-grid {
  display: inline-grid;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none !important;
}

.no-spacing {
  letter-spacing: -5px;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

section {
  width: 100%;
}

nav {
  border: 1px solid green;
  display: block;
  width: 100%;
  background-image: url("/assets/imgs/menu_bg_repeat.jpg");
}
nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid yellow;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  z-index: 6;
}
nav .nav-list .nav-li {
  float: left;
  padding: 16px 16px;
  border: 1px solid green;
  margin: 0 5px;
}
nav .nav-list .nav-li .nav-a {
  padding: 4px;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  color: #f8cfcb;
  transition: all 0.12s;
}
nav .nav-list .nav-li .nav-a:hover {
  color: white;
  text-shadow: 0 0 1rem #fa402f, 0 0 0.2em #fa402f, -1px 0 3px #ff1c08, 1px 0 3px #ff1c08, 0 -1px 3px #ff1c08, 0 1px 3px #ff1c08;
}
nav .nav-list .nav-li .nav-a .nav-img-container {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: -2px;
}
nav .nav-list .nav-li .nav-a .nav-img-container .nav-img {
  display: block;
  width: 35.75px;
  height: 35.75px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
nav .nav-list .nav-li .nav-a .nav-img-container .active-img {
  opacity: 0;
  transition: all 0.12s;
}
nav .nav-list .nav-li .nav-a .nav-img-container:hover .active-img {
  opacity: 0.8;
}
nav .nav-list .nav-li .nav-a .nav-img-container:hover .not-active-img {
  opacity: 0;
  filter: opacity(0);
}
nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 120px;
  width: 100%;
  background: url("/assets/imgs/menu_decor_l.png") no-repeat left, url("/assets/imgs/menu_decor_r.png") no-repeat right;
}
@media screen and (max-width: 1355px) {
  nav::before {
    display: none;
  }
}

.nav-sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

.main-poster {
  margin-top: 110px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo-tab {
  position: absolute;
  top: 1250px;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.logo-tab .logo {
  display: inline-block;
  max-width: 600px;
  animation: fade-in 1.4s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
@media screen and (max-width: 1750px) {
  .logo-tab {
    top: 1100px;
  }
  .logo-tab .logo {
    max-width: 550px;
  }
}
@media screen and (max-width: 1600px) {
  .logo-tab {
    top: 1000px;
  }
  .logo-tab .logo {
    max-width: 500px;
  }
}
@media screen and (max-width: 1400px) {
  .logo-tab {
    top: 900px;
  }
  .logo-tab .logo {
    max-width: 400px;
  }
}
@media screen and (max-width: 1280px) {
  .logo-tab {
    top: 800px;
  }
  .logo-tab .logo {
    max-width: 350px;
  }
}
@media screen and (max-width: 1090px) {
  .logo-tab {
    top: 700px;
  }
  .logo-tab .logo {
    max-width: 300px;
  }
}
@media screen and (max-width: 980px) {
  .logo-tab {
    top: 600px;
  }
  .logo-tab .logo {
    max-width: 300px;
  }
}
@media screen and (max-width: 868px) {
  .logo-tab {
    top: 500px;
  }
  .logo-tab .logo {
    max-width: 300px;
  }
}
@media screen and (max-width: 756px) {
  .logo-tab {
    top: 430px;
  }
  .logo-tab .logo {
    max-width: 260px;
  }
}
@media screen and (max-width: 650px) {
  .logo-tab {
    top: 370px;
  }
  .logo-tab .logo {
    max-width: 220px;
  }
}
@media screen and (max-width: 575px) {
  .logo-tab {
    top: 330px;
  }
  .logo-tab .logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 475px) {
  .logo-tab {
    top: 290px;
  }
  .logo-tab .logo {
    display: none;
  }
}

.misc-text {
  font-size: 42px;
  animation: fade-in 1.4s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.misc-text p {
  margin: 30px;
  word-spacing: 0.4rem;
  letter-spacing: 2.5px;
  line-height: 71px;
  text-shadow: -2px -2px 12px black, 2px 2px 12px black;
}
.misc-text p::first-letter {
  font-size: 48px;
}
@media screen and (max-width: 1400px) {
  .misc-text {
    display: none !important;
  }
}

.text-change {
  color: attr(data-text-color);
  color: #cc0000;
  text-shadow: -1px -1px 18px darkblue, 1px 1px 18px darkblue;
}
.text-change:after {
  content: "(" attr(data-text-color) ")";
}

.streaming-container {
  width: 100%;
  max-width: 800px !important;
  background-image: url("/assets/imgs/streaming.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  top: 90%;
}

.kv {
  width: 100%;
  position: relative;
}
.kv .kv-img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  animation: fade-in 1.4s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.news-section h2 {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 60px;
}
.news-section h2 .news-img {
  max-width: 100%;
}
.news-section ul {
  margin: 15px auto;
}
.news-section ul li {
  position: relative;
  padding: 25px 30px;
  border-top: 1px solid #444;
  vertical-align: middle;
}
.news-section ul li .news-date {
  color: #c30017;
  padding-bottom: 0;
  margin-bottom: 4px;
  font-size: 14px;
}
.news-section ul li .news-title {
  display: block;
  padding-top: 5px;
}
.news-section ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.news-section ul li .news-icon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 19px;
  transform: translateY(-50%);
}
.news-section ul li * {
  padding: 11px 0;
  letter-spacing: 1px;
  font-size: 15px;
}
.news-section ul li:last-child {
  border-bottom: 1px solid #444;
}
.news-section ul li:first-child {
  border-bottom: 0;
}
.news-section::before {
  content: "";
  display: block;
  height: 230px;
}
.news-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background: url("/assets/imgs/bg_black_repeat_down.png");
  z-index: 2;
  height: 300px;
}

.introduction {
  padding-top: 360px;
  background: url("/assets/imgs/bg_repeat_blue.jpg");
  min-height: 100vh;
  padding-bottom: 300px;
}
.introduction h2 {
  text-align: center;
}
.introduction h2 .introduction-img {
  width: 100%;
  max-width: 500px;
}
.introduction .text-area {
  max-width: 800px;
  width: 100%;
  margin: 60px auto;
  text-align: center;
}
.introduction .text-area h2 {
  font-size: 55px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 2em;
  margin: 35px 0;
}
.introduction .text-area p {
  white-space: pre;
  font-weight: 300;
  font-size: 19px;
  line-height: 2.3em;
}
.introduction .text-area .reddish {
  color: #c30017;
}
.introduction::after {
  content: "";
  display: block;
  position: absolute;
  background: url("/assets/imgs/bg_black_repeat_top.png") bottom;
  bottom: 300px;
  width: 100%;
  height: 300px;
  z-index: 2;
}

/*# sourceMappingURL=mainStyle.css.map */
