@import '_fonts.scss';
@import '_reset.scss';
@import '_animations';

$bgc: #000;
$reddish: #c30017;
body {
  background: $bgc;
  @include mainfont;
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
}

button, .play-button-div {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  border: 1px solid blue;
  position: relative;
}

.text-smaller {
  font-size: 0.7em;
}

.ltsp {
  letter-spacing: 1px;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.bottom {
  bottom: 0;
}

.bottom200 {
  bottom: 200px;
}

.top {
  top: 0;
}
.top50 {
  top: 50%;
}

.left {
  left: 0;
}
.left50 {
  left: 50%;
}

.w-100 {
  width: 100%;
}

.right50 {
  right: 50%;
}

.translate-fix-xy {
  transform: translate(-50%,-50%);
}

.translate-fix-x {
  transform: translateX(-50%);
  transform: translate(-50%, 0);
}

.translate-fix-y {
  transform: translateY(-50%);
  transform: translate(0, -50%);
}

.middle {
  margin: auto;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.center-content {
  justify-content: center;
  align-items: center;
  place-items: center center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-row {
  @extend .d-flex;
  @extend .center-content;
  @extend .wrap;
}

.flex-row-clustered {
  @extend .d-flex;
  // @extend .center-content;
  @extend .wrap;
}

.d-grid {
  display: grid !important;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline-grid {
  display: inline-grid;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none !important;
}

.no-spacing {
  letter-spacing: -5px;
}

.hidden {
  position:absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// ================================================ GRID PROPERTIES ===========

.container {
  margin: auto;
  width: 100%;
  max-width: 960px;

}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2-1 {
  display: grid;
  // grid-template-columns: repeat(attr(data-columns), 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-1 {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px 0;
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}


// ================================================ NAV =======================

section {
  width: 100%;
}

nav {
  border: 1px solid green;
  display: block;
  width: 100%;
  background-image: url('/assets/imgs/menu_bg_repeat.jpg');
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid yellow;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    z-index: 6;
    .nav-li {
      float:left;
      padding: 16px 16px;
      border: 1px solid green;
      margin: 0 5px;
      .nav-a {
        padding: 4px;
        font-size: 16px;
        position: relative;
        text-decoration: none;
        color: $nav-link-color;
        transition: all .12s;
        &:hover {
          color: lighten($nav-link-color, 50%);
          text-shadow: 0 0 1rem #fa402f, 0 0 0.2em #fa402f, -1px 0 3px #ff1c08, 1px 0 3px #ff1c08, 0 -1px 3px #ff1c08, 0 1px 3px #ff1c08;
        }
        .nav-img-container {
          width: 100%;
          height: 100%;
          left:0;
          position: absolute;
          top: -2px;
            .nav-img {
              display: block;
              width: 35.750px;
              height: 35.750px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
            }
            .active-img {
              opacity: 0;
              transition: all .12s;
            }
            .not-active-img {
              opacity: 0.5;
            }

            &:hover .active-img {
              opacity: 0.8;

            }
            &:hover .not-active-img {
              opacity: 0;
              filter: opacity(0);

            }
        }
      }
    }

  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    background: url('/assets/imgs/menu_decor_l.png') no-repeat left,
                url('/assets/imgs/menu_decor_r.png') no-repeat right;
    @media screen and (max-width: 1355px ) {
      display: none;
    }
  }
}

.nav-sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}





// ======================================= SECTION POSTER ====================



.main-poster {
  margin-top: 110px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

}

.logo-tab {
  position: absolute;
  top: 1250px;
  width: 100%;
  max-width: 100%;
  text-align: center;
  .logo {
    display: inline-block;
    max-width: 600px;
    @include animation-fade-in;
  }

  @media screen and (max-width: 1750px) {
    top: 1100px;
    .logo {
      max-width: 550px;
    }
  }

  @media screen and (max-width: 1600px) {
    top: 1000px;
    .logo {
      max-width: 500px;
    }
  }

  @media screen and (max-width: 1400px) {
    top: 900px;
    .logo {
      max-width: 400px;
    }
  }

  @media screen and (max-width: 1280px) {
    top: 800px;
    .logo {
      max-width: 350px;
    }
  }

  @media screen and (max-width: 1090px) {
    top: 700px;
    .logo {
      max-width: 300px;
    }
  }

  @media screen and (max-width: 980px) {
    top: 600px;
    .logo {
      max-width: 300px;
    }
  }
  @media screen and (max-width: 868px) {
    top: 500px;
    .logo {
      max-width: 300px;
    }
  }
  @media screen and (max-width: 756px) {
    top: 430px;
    .logo {
      max-width: 260px;
    }
  }
  @media screen and (max-width: 650px) {
    top: 370px;
    .logo {
      max-width: 220px;
    }
  }
  @media screen and (max-width: 575px) {
    top: 330px;
    .logo {
      max-width: 150px;
    }
  }

  @media screen and (max-width: 475px) {
    top: 290px;
    .logo {
      display: none;
    }
  }
}

.misc-text {
  font-size: 42px;
  @include animation-fade-in;
  p {
    margin: 30px;
    word-spacing: 0.4rem;
    letter-spacing: 2.5px;
    line-height: 71px;
    text-shadow: -2px -2px 12px black, 2px 2px 12px black;
    &::first-letter {
      font-size: 48px;
    }
  }
  @media screen and (max-width: 1400px) {
    display: none !important;
  }
}

.text-change {
  color: attr(data-text-color);
  color: darken(red, 10%);
  text-shadow: -1px -1px 18px darkblue, 1px 1px 18px darkblue;
  &:after {
    content: '(' attr(data-text-color) ')';
  }
}

.streaming-container {
  width: 100%;
  max-width: 800px !important;
  background-image: url('/assets/imgs/streaming.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  top: 90%;
  // .streaming-img {
  //   margin: auto;
  //   max-width: 248px;
  //   width: 100%;
  // }
}

.kv {
  width: 100%;
  position: relative;
  .kv-img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    @include animation-fade-in;
  }
}

// ===================================== NEWS SECTION ======================

.news-section {
  vertical-align: top !important;
  h2 {
    text-align: center;
    max-width: 350px;
    margin:0 auto 60px;
    .h2-picture {
      max-width: 100%;
    }
  }
  ul {
    margin: 15px auto;

    li {
      position: relative;
      padding: 25px 30px;
      border-top: 1px solid #444;
      vertical-align: middle;


      .news-date {
        color: $reddish;
        margin-bottom: 4px;
        font-size: 14px;
        // background: url('/assets/imgs/news-button.png') no-repeat;
      }

      .news-title {
        display: block;
        padding-top: 5px;

      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .news-icon {
        position: absolute;
        left: 5px;
        top: 50%;
        width: 19px;
        transform: translateY(-50%);
      }
      & * {
        padding: 11px 0;
        letter-spacing: 1px;
        font-size: 15px;
      }
      &:last-child {
        border-bottom: 1px solid #444;
      }
      &:first-child {
        border-bottom: 0;
      }

    }
  }


  &::before {
    content: "";
    display: block;
    height: 230px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: url('/assets/imgs/bg_black_repeat_down.png');
    z-index: 2;
    height: 300px;
  }
}


// ===================================================== INTRODUCTION =========

.introduction {
  padding-top: 360px;
  background: url('/assets/imgs/bg_repeat_blue.jpg');
  min-height: 100vh;
  padding-bottom: 300px;


  @include imgMiddle(400px);

  .text-area {
    max-width: 800px;
    width: 100%;
    margin: 60px auto;
    text-align: center;

    & * {
      padding: 0 25px;
      cursor: default;
      user-select: none;
    }

    h2 {
      font-size: 55px;
      letter-spacing: 2px;
      font-weight: 600;
      line-height: 2em;
      margin: 35px 0;
      white-space: pre;
    }
    p {
      white-space: pre;
      font-weight: 300;
      font-size: 19px;
      line-height: 2.3em;

    }

    .reddish {
      color: $reddish;
    }

    @media screen and (max-width: 1000px) {
      h2 {
        font-size: 38px;
      }
    }

    @media screen and (max-width: 830px) {
      h2 {
        white-space: pre-wrap;
      }
    }



    @media screen and (max-width: 666px) {
      p {
        white-space: normal;
      }
    }

    @media screen and (max-width: 550px) {
      h2 {
        font-size: 33px;
        white-space: normal;
        text-align: center;
      }
    }

    @media screen and (max-width: 392px) {
      h2 {
        font-size: 27px;
      }
    }

  }

  @include after-bottom-background;


}

// ========================================= CAST SECTION ====================

.cast-section {
  @include imgMiddle(400px);
  @include bottom-black;

  .h2-picture {
    max-width: 350px !important;
  }

  .cast-container {
    margin-top: 50px;
    max-width: 1600px;
    text-align: center;

    .cast-div {
      text-align: center;
      display: inline-block;
      margin: auto;
      margin-bottom: 35px;
      .title {
        font-size: 14px;
        color: $reddish;
        margin-bottom: 5px;
      }
      .va {

      }
    }
    .description-img {
      color: #000;
      height: 64px;
      font-size: 16px;
      line-height: 64px;
      background-image: url('/assets/imgs/cast.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 15px auto 35px;
    }
    @media screen and (max-width: 1100px) {
      .flex-row {
        display: block !important;
        .cast-div {
          padding: 0 10px;
        }
      }
    }
    @media screen and (max-width: 650px) {
      .flex-row {
        display: block !important;
        .cast-div {
          padding: 0 10px;
          .title {
            font-size: 13px;
          }
          .va {
            font-size: 15px;
          }
        }
      }
    }
  }
  .jp-eng {
    font-size: 15px;
  }

}


// ===================================================== TRAILER SECTION ======

.trailer-section {
  background: url('/assets/imgs/bg_repeat_red.jpg');
  min-height: 500px;
  overflow: hidden;
  padding:220px 0 110px;

  @include imgMiddle(400px);


  .h2-pic {
    padding: 60px 0;
    .h2-picture {
      width: 300px !important;
    }
  }

  .videos-div {
    max-width: 1060px;
    width: 100%;
    height:400px;
    border: 1px solid grey;
    margin: auto;
    position: relative;
    margin-bottom: 180px;


    .videos-list {
      border: 1px solid yellow;
      height: auto;
      width: max-content;
      background: rgba(0,0,0,0.4);
      .video-div {
        position: relative;
        margin-right: 50px;
        display: inline-block;
        height: 400px;
        user-select: none;
        .video-poster {
          display: block;
          position: relative;
          object-fit: cover;
          width: 490px;
          height: 290px;
          filter:brightness(0.6);
          &:hover {
            filter:brightness(1);
          }
        }
        .video-title {
          margin-top: 15px;
          font-size: 15px;
          width: 490px;
          position: absolute;
          height: 60px;
          border: 1px solid green;
        }
      }
      .play-button-div {
        position: relative;
        width: 490px;
        height: 290px;

        filter:brightness(0.8);
        &:hover {
          background-image: radial-gradient(circle at center, rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%);
          filter:brightness(1);
        }

        .play-button {
          position: absolute;
          width: 80px;
          height: 80px;
        }
      }

    }

    .play-button-div:hover .video-poster {
      filter:brightness(1);
    }

    .btn {
      position: absolute;
      border: 1px solid orange;
      background: transparent;
      color: white;
      z-index: 3;
      padding: 9px;
    }

    .btn-left {
      left: calc(50% - 50px);
    }

    .btn-right {
      left: calc(50% + 50px);
    }
  }

}

// ======================================================== FOOTER =========

.main-footer {
  background: #000;
  padding: 40px 0 50px;

  .footer-ul {
    text-align: center;
    .footer-li {
      display: inline-block;
      a {
        display: inline-block;
        background: #777;
        border-radius: 50%;
        padding: 7px;
        margin: 0 15px;
        transition: all 0.3s;
        .footer-svg {
          width: 27px;
        }
        &:hover {
          background: #bbb;
        }
      }

    }
  }
  h2 {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin: 22px 0;
  }
  .other-sites {
    a {
      display: inline-block;
      margin: 15px 15px;
      color: #ddd;
      text-decoration: none;
      transition: all 0.4s;
      &:hover {
        color: darken(#ddd, 50%);
      }
    }

  }

  .other {
    font-size: 12px;
  }

  .reconstructed-by {
    a {
      color: lighten(#888, 40%);
      text-decoration: none;
      font-size: 12px;

      &:hover {
        color: lighten(#888, 80%);
        text-decoration: underline;
      }
    }
  }

}

// ================================================== CHARACTERS ==========

.characters-section {
  background: #000;
  @include imgMiddle(300px);


  .characters-logo-container {
    background: url('/assets/imgs/bg_repeat_red.jpg');
    margin:0 0 50px;
    position: relative;
    .h2-pic {
      padding: 70px 0 370px;
      &::after {
        content: "";
        position: absolute;
        background: url('/assets/imgs/bg_black_repeat_top.png') center top;
        width: 100%;
        bottom: 0;
        height: 300px;
        display: block;
      }
    }
  }
  .characters-container {
    max-width: 1200px !important;
    margin-top: -200px;
    .characters-grid {
      border: 1px solid blue;
      margin-bottom: 50px;
      box-sizing: border-box;

      & .char-div {
        box-sizing: border-box;
        display: block;
        min-width: 200px;
        height: 200px;
        border: 1px solid green;
        position: relative;

        .char-img {
          background: no-repeat center top;
          background-image: url('/assets/imgs/thumb_01.png');
          background-size: 100%;
          height: 200px;
        }
        .demon {
          background-image: url('/assets/imgs/thumb_02.png');
        }
        .img-hover {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: no-repeat center bottom;
          background-image: url('/assets/imgs/thumb_01.png');
          background-size: 100%;
          opacity: 0;
          transition: all 0.13s;
          &:hover {
            opacity: 1;
          }
        }
        .demon-active {
          background-image: url('/assets/imgs/thumb_02.png');
        }
        .char-info {
          text-align: center;
          font-size: 15px;
          line-height: 20px;
          .char-name {
            color: #D4B086;
          }
          .char-va {
            font-size:13px;
          }
        }

      }
    }
  }

  .grid-5-1 {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px 0;
    @media screen and (max-width: 1065px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 875px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 655px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

// ================================================== STREAMING ============

.streaming-sector {
  padding-top: 250px;
  min-height: 500px;
  position: relative;
  background: url('/assets/imgs/bg_repeat_blue.jpg');
  @include test-top2;
  @include imgMiddle(300px);
}
